<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>about us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
@await Component.InvokeAsync("About")
@await Component.InvokeAsync("Teacher", 4)
@await Component.InvokeAsync("Testimonial")
@await Component.InvokeAsync("Notice")


