@model List<Notice>
<section class="notice-area two pt-140">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right-wrapper mb-25 pb-25">
                    <h3>TAKE A VIDEO TOUR</h3>
                    <div class="notice-video">
                        <div class="video-icon video-hover">
                            <a class="video-popup" href="https://www.youtube.com/watch?v=to6Ghf8UL7o">
                                <i class="zmdi zmdi-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-left-wrapper">
                    <h3>notice board</h3>
                    <div class="notice-left">
                        @foreach (var notice in Model)
                        {
                            <div class="single-notice-left mb-23 pb-20">
                                <h4>@String.Format("{0:MM/dd/yyyy}", notice.Date)</h4>
                                <p>@notice.Desc</p>
                            </div>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

