@model List<Service>
@{
    ViewData["Title"] = "Default";
}

<div class="service-area two pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (var service in Model)
            {
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-service">
                        <h3><a href="teacher.html">@service.Header</a></h3>
                        <p>@service.Desc</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

