@model CommentVM
@{ ViewData["Title"] = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
                int count = 1; }

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>contact</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Contact Start -->
<div class="map-area">
    <!-- google-map-area start -->
    <div class="google-map-area">
        <!--  Map Section -->
        <div id="contacts" class="map-area">
            <div id="googleMap" style="width:100%;height:440px;">
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSLSFRa0DyBj9VGzT7GM6SFbSMcG0YNBM"></script>
            </div>
        </div>
    </div>
</div>
<div class="contact-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="contact-contents text-center">
                    <div class="single-contact mb-65">
                        <div class="contact-icon">
                            <img src="~/Assets/img/contact/contact1.png" alt="contact">
                        </div>
                        <div class="contact-add">
                            <h3>address</h3>
                            <p>135, First Lane, City Street</p>
                            <p>New Yourk City, USA</p>
                        </div>
                    </div>
                    <div class="single-contact mb-65">
                        <div class="contact-icon">
                            <img src="~/Assets/img/contact/contact2.png" alt="contact">
                        </div>
                        <div class="contact-add">
                            <h3>address</h3>
                            <p>135, First Lane, City Street</p>
                            <p>New Yourk City, USA</p>
                        </div>
                    </div>
                    <div class="single-contact">
                        <div class="contact-icon">
                            <img src="~/Assets/img/contact/contact3.png" alt="contact">
                        </div>
                        <div class="contact-add">
                            <h3>address</h3>
                            <p>135, First Lane, City Street</p>
                            <p>New Yourk City, USA</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="reply-area">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th> No </th>
                                    <th> Name </th>
                                    <th> Comment </th>
                                    <th> Setting </th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Comments != null)
                                {
                    @foreach (var comment in Model.Comments)
                    {
    <tr>
        <td> @count </td>
        <td> @comment.Name </td>
        <td> @comment.TextMessage </td>
        <td>

            <form style="display:inline;" asp-action="Delete" asp-route-Id="@comment.Id">
                <button type="submit" class="btn btn-danger btn-sm"><i class="icon-close"></i></button>
            </form>
        </td>
    </tr>count++;
                    } }
                                else
                                {
                    <h3>SAla,</h3>            }


                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="reply-area">
                    <h3>LEAVE A message</h3>
                    <p>I must explain to you how all this a mistaken idea of ncing great explorer of the rut the is lder of human happinescias unde omnis iste natus error sit volptatem </p>
                    <form asp-controller="Contact" asp-action="Create" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="Name"></label>
                                <input type="text" class="form-control" style="width:100%" asp-for="Name" placeholder="Name">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="col-md-12">
                                <label asp-for="Email"></label>
                                <input type="text" class="form-control" style="width:100%" asp-for="Email" placeholder="Email">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="col-md-12">
                                <label asp-for="Subject"></label>
                                <input type="text" class="form-control" style="width:100%" asp-for="Subject" placeholder="Subject">
                                <span class="text-danger" asp-validation-for="Subject"></span>
                                <label asp-for="TextMessage"></label>
                                <textarea asp-for="TextMessage"></textarea>
                                <span class="text-danger" asp-validation-for="TextMessage"></span>
                            </div>
                        </div>
                        <button asp-controller="Contact" asp-action="Create" type="submit" class="btn btn-primary me-2">Enter Comment</button>
                        <a asp-action="Index" class="btn btn-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->