@model Skill
@{ ViewData["Title"] = "Create"; }

<div class="container mt-5">
    <form class="forms-sample" method="post" asp-action="Create">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input type="text" class="form-control" style="width:300px" asp-for="Name" maxlength="500" placeholder="Skill">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </form>
</div>