@model Slider
@{
    ViewData["Title"] = "Detail";
}

<div class="container">
  
        <h3>Slider detail</h3>
        <div class="row">
            <img src="~/assets/img/slider/@Model.Image" alt="Alternate Text" style="width:350px;height:350px" />
        </div>
        <div>
            <h3>
                @Model.sliderDetail.Header
            </h3>
            <p>
                @Model.sliderDetail.Description
            </p>
        </div>
  
    <a asp-action="Index" class="btn btn-primary mt-3">Go back</a>
</div>