@model List<Event>
<div class="event-area two text-center pt-100 pb-145">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/assets/img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">

            @foreach (var event1 in Model)
            {
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="single-event mb-35">
                    <div class="event-img">
                        <a href="event-details.html"><img src="~/assets/img/event/@event1.Image" alt="event"></a>
                    </div>
                    <div class="event-content text-left">
                        <h3>20 June 2017</h3>
                        <h4><a href="event-details.html">@event1.Name</a></h4>
                        <ul>
                            <li><i class="fa fa-clock-o"></i>@event1.Start.Month - @event1.End.Month</li>
                            <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                        </ul>
                        <div class="event-content-right">
                            <a class="default-btn" asp-controller="event" asp-action="detail" asp-route-id="@event1.Id">join now</a>
                        </div>
                    </div>
                </div>
            </div>
                    }
         </div>
            
    </div>
</div>
