@model List<CourseDetail>
        <div class="row">
            @foreach (var course in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12 " style="margin-top:15px">
                    <div class="single-course">
                        <div class="course-img">
                            <a href="course-details.html">
                                <img src="~/assets/img/course/@course.Image" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a href="course-details.html">@course.Name</a></h3>
                            <p> @course.Desc</p>
                            <a class="default-btn" asp-controller="course" asp-action="detail" asp-route-id="@course.Id">read more</a>
                        </div>
                    </div>
                </div>
            }
        </div>
